<!-- Step 20 -->
<% layout("/layouts/boilerplate") %>

<body>
    
    <div class="row">
        <div class="alert alert-danger col-8 mt-3 offset-2" role="alert">
            <h4 class="alert-heading"><%= message %></h4>
        </div>
    </div>

</body>